@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-nav{
  font-size: max(14px, 0.7vw);
}
.title-texts-max{
  font-size:max(60px, 6.019vw)
}


body{
  margin: 0px;
  overflow: hidden; /* Hide scrollbars */
  cursor: wait;
}

.section3-link {
  font-size: max(18px, 1.157vw);
  
}
.section3-title-card {
  font-size: max(15px, 1vw);
}
.section3-subtitle-card {
  font-size: max(14px, 0.9413vw);
}

.slick-slide > div {
  margin: 1vw 3vw
}